<!DOCTYPE html>
<html>
<head>
    <title>statpad | A toolkit for your day-to-day fantasy basketball operations</title>
</head>
<body>
    <h1>statpad</h1>
    <h2>Engineered to help you win</h2>

    <a href="/auth/yahoo">Connect with Yahoo!</a>
</body>
</html>